* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
body {
    font-family: cursive;
    background-color: black;
}
.box {
    height: 05vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    background-color: coral;
    height: 40px;
    width: 120px;
    font-family: cursive;
    border-color: transparent;
    border-radius: 15px;
    transition: all 0.5s;
    box-shadow: 5px 5px 5px black;
    font-size: 18px;
}
button:hover {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
}
input {
    font-family: cursive;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
table {
    text-align: center;
    border: 2px black;
    border-radius: 5px;
    overflow: hidden;
    background-color: tomato;
    padding: 20px;
}
td,th{
    margin: 5px;
    padding: 10px;
}
td{
    font-size: 18px;
}
th{
    font-size: 20px;
    font-weight: 700;
}
.last_btn {
    width: 150PX;
}
.space_ {
    width: 100px;
    height: 30px;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 5vh;
}
#view_table{
    margin-top: 15vh;
}
